[submodule "rpihub/alexa/seeed-voicecard"]
	path = rpihub/alexa/seeed-voicecard
	url = git@github.com:respeaker/seeed-voicecard.git
[submodule "rpihub/alexa/4mics_hat"]
	path = rpihub/alexa/4mics_hat
	url = git@github.com:respeaker/4mics_hat.git
