[submodule "Alexa/seeed-voicecard"]
	path = Alexa/seeed-voicecard
	url = https://github.com/respeaker/seeed-voicecard.git
[submodule "Alexa/4mics_hat"]
	path = Alexa/4mics_hat
	url = https://github.com/respeaker/4mics_hat.git
[submodule "IoTDevice/pybluez"]
	path = IoTDevice/pybluez
	url = git@github.com:pybluez/pybluez.git
